* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    margin: 0;
    overflow: hidden;
    background-color: rgb(28, 28, 28);
    color: #ddd;
    font-size: 1.5rem;
}

.container {
    position: absolute;
    bottom: 40px;
    padding: 10px 20px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: #ddd;
    text-align: center;
    outline: none;
    bottom: none;
    margin-bottom: 50px;
}